body{
	background:#ddd;
	margin:0;
	padding:0;
}

header{
	background: #fff;
	margin:0;
	position:relative;
}

nav{
	position:absolute;
	top:0px;
	right:0px;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav li{
	display:inline-block;
}

nav a{
	font-size:18px;
	background:#000000;
	color:#ffffff;
	padding:10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family:verdana;
}

nav a:hover{
	background:#eee;
	color: #f00;
}

h1{
	font-family : helvetica ;
	font-size : 40px ;
	color : #666666 ;
}


#benny{
	background: #000;
	padding:40px;
}

#bennycontainer{
	width:800px;
	margin:0 auto;
}

.benefit{
	background:#fff;
	float:left;
	width:200px;
	padding:20px;
	margin:10px;
	border-radius:20px;
	text-align: center;
}

.cta{
	background: url(bg.jpg);
	background-size:cover;
	background-position: bottom right;
	padding:80px;
	font-family: helvetica;
}

.cta h2{
	color:#fff;
}

.cta a {
	background:#fff;
	color:#000;
	text-decoration: none;
	padding:10px;
	font-size:25px;
}

